body {
  background-image: url("/images/bg-image.png");
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #482F23;
  padding: 20px;
}

header {
  background-color: #eeb070;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top: 0;
  position: relative;
}

#logo {
    height: 40px;
    width: auto;
}

header > h1 {
  flex: 1;
  color: #482F23;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin: 0;
}

nav {
  width: 100%;
  max-width: 600px;
  height: 50px;
  margin: 0 auto;
}

nav > ul {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  flex-wrap: nowrap;
  padding-inline-start: 0;
  margin-block: 0;
  height: 100%
}

nav > ul > li {
  color: #FFFFFF;
  background-color: #b06234;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 9px;
  font-size: 1rem;
  font-weight: 600;
  margin-left: 0.5rem;
  display: display;
}

nav > ul > li:hover {
  background-color: #f9dac8;
  color: #482F23;
  cursor: pointer;
}

li > a {
  color: inherit;
  text-decoration: none;
}

.spacer {
    height: 30px;
}

.center-image {
  text-align: center;
  padding: 20px 0;
}

.center-image img {
    max-width: 150px;
    height: auto;
}

h1 {
  text-align: center;
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 15px;
}

.petcare-section {
  display: flex;
  align-items: center;         
  gap: 30px;                 
  padding: 40px;
}

.section-image {
  max-width: 200px;            
  height: auto;
}

.section-text {
  flex: 1;                    
}

.section-text h2 {
  margin: 0 0 10px;
  font-size: 2rem;
  color: #482F23;
}

.section-text p {
  font-size: 1.1rem;
  color: #5a3e2b;
  line-height: 1.6;
}

.divider {
  border: none;
  padding: 2rem 0;
  border-bottom: 3px solid #edb071;
}








